<html>
<head>
    <title>Exif Renamer</title>
</head>
<body>
<h1>Quick links</h1>
<p>
<ul>
    <li><a href="/rename-all?directory=/Users/arthurarts/Desktop/photo/">Desktop photo</a></li>
    <li><a href="/rename-all?directory=/Volumes/OM5-256GB/DCIM/">OM5 - PNY 256GB</a></li>
    <li><a href="/rename-all?directory=/Volumes/CFE256GB/DCIM/">R5 - CFExpress Type B</a></li>
    <li><a href="/rename-all?directory=/Volumes/256GBLexar/DCIM/">R5 - Lexar</a></li>
    <li><a href="/rename-all?directory=/Volumes/Abbey250D/DCIM/">Abbey - 250D - Samsung 256GB</a></li>
    <li><a href="/rename-all?directory=/Volumes/EOS_DIGITAL/DCIM/100CANON">Sandisk</a></li>
    <li><a href="/rename-all?directory=/Volumes/LUMIX/DCIM">Kessia Gx880 MicroSD</a></li>
</ul>
</p>
</body>
</html>